<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./partial/header') %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="alert alert-success">Hello <%= user.username %></div>
          <a
            class="btn navbar-btn btn-danger navbar-right"
            role="button"
            href="/auth/logout"
            >Logout</a
          >
        </div>
      </nav>
    </div>
  </body>

  <script>
    // if (localStorage.getItem("signInCash")) {
    //   localStorage.removeItem("signInCash");
    // }
  </script>
</html>
